.card-body a {
    width: 50px;
    height: 40px;
    background-color: rgb(233, 109, 109);
    margin: 0px 10px;
}

.card-body h5 {
    font-size: 20px;
}

.card-body p {
    font-size: 10px;
}

.about {
    display: flex;
    justify-content: space-evenly;
}

.row-dev {
    width: 1300px;
    display: flex;
    justify-content: space-evenly;
}

.card3 {
    width: 300px;
    border-radius: 15px;
    background-color: rgb(224, 224, 224);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    filter: drop-shadow(5px 4px 9px #919191);
    margin: 0 0 4rem 0;
}

.card-title-dev {
    color: rgb(224, 84, 84);
    font-size: 23px;
    display: flex;
    margin-top: -5px;
    justify-content: space-evenly;
}

.desc {
    font-size: 10px;
    opacity: 0.75;
    margin-top: -9px;
    justify-content: space-evenly;
}

.github-img,
.linkedin-img {
    margin-top: 4px;
    margin-left: -6px;
    justify-self: space-evenly;
    width: 31px;
}

.dev-p p {
    display: inline;
}

.hr {
    width: 500px;
    height: 200px;
    padding: 10px;
    margin: 0px auto;
}

.meet-title {
    margin: 6rem auto;
    border-bottom: black solid 1px;
    max-width: 60%;
}

.bot-link {
    background-color: ee6e7293;
    border-radius: 15px;
    filter: drop-shadow(5px 4px 9px #919191);
    padding: 10px;
}

.about-title {
    margin: '20px auto';
    border-bottom: 'black solid 1px';
    max-width: '50%';
}

@media (max-width: 700px) {
    .about {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: 10em;
    }
    .row-dev {
        width: 1300px;
        display: flex;
        flex-direction: column;
    }

    .card3 {
        width: 300px;
        border-radius: 15px;
        background-color: rgb(224, 224, 224);
        padding: 10px;
        display: flex;
        justify-content: space-evenly;
        filter: drop-shadow(5px 4px 9px #919191);
        margin: 20px 0 20px 0;
    }
}
