.material-icons {
    padding: 5px;
}

button.clip {
    border: none;
    border-radius: 10px;
    width: 60px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
}

hr {
    width: 700px;
    height: 1px;
    display: inline-flex;
    border: none;
    background-color: rgb(255, 129, 129);
    color: rgb(31, 30, 30);
}

h3 a:hover {
    cursor: pointer;
}

h3 a {
    color: black;
}

.float-container {
    padding: 20px;
    height: 250px;
    width: 100%;
}

.float-child {
    width: 30%;
    margin-left: 25px;
    padding-bottom: 10px;
    float: left;
    background-color: rgb(218, 218, 218);
    filter: drop-shadow(5px 4px 9px #919191);
    border-radius: 10px;
}
