.navbar img {
    margin-top: 5px;
    height: 50px;

}

.nav-logo {
    float: left;
    padding-left: 50px;
}

.nav-logo:hover {
    float: left;
    padding-left: 50px;
    filter: drop-shadow(5px 4px 4px #000000);
}

.nav-link {
    float: right;
    padding: 0px 30px 0px 20px;
}

.nav-link:hover {
    float: right;
    padding: 0px 30px 0px 20px;
    filter: drop-shadow(5px 4px 4px #000000);
}

