.brackets {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.bracket-options {
    display: flex;
    width: 60vw;
    margin: 0 auto;
    padding: 10px;
}

.Forms {
    width: 500px;
    text-align: left;
    display: inline-block;
}

.pp {
   justify-content: center;
}