.brackets {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.bracket-options {
    display: flex;
    width: 60vw;
    margin: 0 auto;
    padding: 10px;
}

.Forms {
    width: 500px;
    text-align: left;
    display: inline-block;
}

.pp {
   justify-content: center;
   border:rgb(100, 20, 0) 1px solid;
}

.switch {
    display: flex;
    justify-content: space-evenly;
}

.brackets {
    width: 100%;
    text-align: center;
}

.brackets button {
    display: inline-block;
    margin: 0 auto;
}

input{
    text-align:center;
 }