.instruction-box {
    display: inline-block;
    background-color: rgb(211, 211, 211);
    filter: drop-shadow(5px 4px 4px #cccccc);
    border-radius: 15px;
    width: 800px;
    height: 500px;
    margin-bottom: 20px;
  }

a {
  margin: 10px;
}

p {
  margin-top: -10px;
  width: 500px;
  display: inline-flex;
}

.media {
  display: flex;
  align-items: flex-start;
  padding: 0px 50px 0px 50px;
}
.media .content {
  flex: 1;
  padding: 10px;
  height: 100px;
  display: flex;
  align-items: center;
}

.media span {
  text-align:left;
}